 * {
  box-sizing: border-box;
}
body {
  background-color: #f3ececef;
}
.grid-container {
  display: grid;
  grid-gap: 60px;
  justify-content: center;
  grid-template-columns: auto auto auto;
  padding: 10px;
  margin: auto;
  background-color: #b1b1a191;
}
h4 {
  text-align: center;
  background-color: rgba(45, 45, 45, 0.1); /* change this color */
  padding: 10px;
  font-size: 27px;
}
p {
  text-align: justify;
}

.links {
  text-align: left;
  color: black;
  opacity: 0.7;
}
/* #thumbnail {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
} */
.fullCard {
  background-color: whitesmoke;
  width: 245px;
  border: 1px solid #ccc;
  border-radius: 1em;
  padding: 1em;
  margin: auto;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.cardContent {
  padding: 10px;
}
.cardText {
  margin-bottom: 30px;
  color: black;
}
